/*
 * Colours:
 * #515151
 * #FFFFFF
 * #00B4FF
 * #EEEEEE #ccc
 */


/*
 * Fonts
 */

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot');
  src: url('font/fontello.eot#iefix') format('embedded-opentype'),
       url('font/fontello.woff') format('woff'),
       url('font/fontello.ttf') format('truetype'),
       url('font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}


/*
 * Scaffolding and Basic Reset
 */

html {
  font-size: 16px;
}
@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #515151;
}

a {
  color: #00b4ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin: 0 0 .5rem;
  font-weight: normal;
  line-height: 1;
  color: #2a2a2a;
  letter-spacing: -.05em;
}
h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem }

p {
  margin: 0;
}
p.ref {
	margin: 1rem;
}

.pull-right {
  float: right !important;
  text-align: right !important;
}


/*
 * Box Sizing Fix
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
}


/*
 * Flexbox Related classes
 */
@mixin display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {
  -webkit-box-flex: $fg;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg;
  -moz-flex: $fg $fs $fb;
  -ms-flex: $fg $fs $fb;
  flex: $fg $fs $fb;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}



/*
 * Parent Containers
 * Need to set their heights as 100%
 * otherwise the main content will 
 * not expand to fill all vertical space.
 */
html { height: 100%; }
body {
  /*
   * The Body is a flex container
   * with alignment set to column.
   */
  @include display-flex;
  @include flex-direction(column);
  height: 100%;
}


/*
 * Header
 */
header nav {
  width: 100%;
  height: 80px;
  
  ul {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #515151;
    list-style: none;
    @include display-flex;
    @include flex-direction(row);

    li {
      @include flex(1);
      height: 80px;
      line-height: 80px;
      text-align: center;

      &:first-child,
      &:last-child {
        @include flex(0 0 50px);
      }
    }
  }
}


/*
 * Main Content
 */
main {
  /*
   * The main section is a stretchy 
   * flex element. It will fill all
   * available vertical space.
   */
  @include flex(1);
  padding: 10px;
}


/*
 * Tab Bar
 */
.tab-bar {
	width: 100%;
	margin: 0;
	padding: 0;
  
  .tab-link {
  	display: inline-block;
  	width: 25%;
  	background-color: #eee;
  	text-align: center;
    height: 80px;
    line-height: 80px;
    color: #ccc;
    cursor: pointer;

    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }

    &.active {
      color: #515151;
    }
  }
}